h5{
  display: inline;
}
#main{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main img{
  height: 250px;
}
#text{
  width: 600px;
  margin-left: 20px;
}
#text p{
  padding-top: 20px;
  font-size: 20px;
}